#background {
    -fx-background-image: url("../images/hinhnen.png");
    -fx-background-size: 100% 100%;
}

.round {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.nav {
    -fx-background-radius: 0 0 7 7;
    -fx-border-radius: 0 0 7 7;
}

.nav-button {
    -fx-background-color: transparent;
}

.selected {
    -fx-background-color: rgb(171, 169, 169);
    -fx-opacity: 0.4;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}

.combo-box .list-cell {
    -fx-alignment: CENTER;
    -fx-font-size: 16px;
}

.chart-line-symbol {
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

.toggle-button {
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-background-color: rgba(159, 159, 159, 0.635);
}

.maxV-chart .default-color0.chart-series-line {
    -fx-stroke: rgb(126, 255, 75);
}

.maxV-chart .default-color0.chart-line-symbol {
    -fx-background-color: rgb(126, 255, 75);
}

.maxV-chart .default-color1.chart-series-line {
    -fx-stroke: rgb(119, 181, 247);
}

.maxV-chart .default-color1.chart-line-symbol {
    -fx-background-color: rgb(119, 181, 247);
}

.maxT-chart .chart-series-line {
    -fx-stroke: red;
}

.maxT-chart .chart-line-symbol {
    -fx-background-color: red;
}

.sumV-chart .chart-series-line {
    -fx-stroke: black;
}

.sumV-chart .chart-line-symbol {
    -fx-background-color: black;
}

.delV-chart .chart-series-line {
    -fx-stroke: grey;
}

.delV-chart .chart-line-symbol {
    -fx-background-color: grey;
}

.cell-chart-button {
    /* -fx-background-color: transparent; */
    -fx-pref-width: 70px;
    -fx-pref-height: 51px;
}

.chart-voltage .chart-series-line {
    -fx-stroke: rgb(60, 245, 60);
}

.chart-voltage .chart-line-symbol {
    -fx-background-color: rgb(60, 245, 60);
}

.chart-temperature .chart-series-line {
.v-chart .chart-series-line {
    -fx-stroke: rgb(60, 245, 60);
}

.chart-transparent .chart-series-line {
    -fx-stroke: red;
}

.chart-temperature .chart-line-symbol {
    -fx-background-color: red;
}

.chart-voltage .chart-legend {
    -fx-translate-x: -20px;
}

.chart-voltage .chart-title {
    -fx-translate-x: 25px;
}

.chart-temperature .chart-legend {
    -fx-translate-x: 20px;
}

.chart-transparent .chart-plot-background,
.chart-transparent .chart-tick-labels,
.chart-transparent .chart-tick-marks,
.chart-transparent .chart-title {
    -fx-opacity: 0;
}
