#background {
    -fx-background-image: url("images/hinhnen.png");
    -fx-background-size: 100% 100%;
}

.round {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.nav {
    -fx-background-radius: 0 0 7 7;
    -fx-border-radius: 0 0 7 7;
}

.nav-button {
    -fx-background-color: transparent;
}

.selected {
    -fx-background-color: rgb(171, 169, 169);
    -fx-opacity: 0.4;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}

.combo-box .list-cell {
    -fx-alignment: CENTER;
    -fx-font-size: 16px;
}

.chart-line-symbol {
    -fx-background-radius: 0px;
    -fx-padding: 2px;
  }
